{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="content-card">
    <h1>About NutriScan</h1>
    <p>
        NutriScan is a powerful tool designed to help you make informed choices about the products you use daily. Whether it's packaged food, beverages, or cosmetics, NutriScan allows you to easily scan product labels to identify ingredients and determine if they contain any harmful chemicals. Our mission is to empower you to understand what's in the products you consume and use, promoting healthier and more conscious lifestyle choices.
    </p>

    <h2>Our Mission</h2>
    <p>
        We believe that everyone should have the right to know what they are putting into and on their bodies. With so many products available on the market today, it can be challenging to keep track of which ingredients are safe and which are not. NutriScan was created to simplify this process, giving you the tools to make better choices quickly and easily.
    </p>

    <h2>Features</h2>
    <ul style="list-style-type: '✔ '; padding-left: 1rem;">
        <li>Quick and Easy Scanning</li>
        <li>Comprehensive AI-Powered Ingredient Analysis</li>
        <li>User-Friendly Interface and Results</li>
        <li>Health and Safety Tips</li>
    </ul>
</div>
{% endblock %}
